@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #c4e1ee;
    /* background-color: #E7DAB3; */
}


/* @font-face {
    font-family: 'Montserrat';
    src: url('/asset/font/Montserrat-Regular.ttf');
} */

.container {
    font-family: 'Montserrat-Regular';
}

.gambar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.table1 {
    width: 600px;
    border: 0;
}

.btn-custom {
    color: #000000;
    background-color: #b68a7b;
    border-color: #E51DF0;
}